#!/usr/bin/env python

import sys
import socket
import time
import argparse

import nclib

parser = argparse.ArgumentParser(description="Launch exploit.")
parser.add_argument('host', type=str)
parser.add_argument('port', type=int)
parser.add_argument('-c', '--cmd', nargs="*", type=str)

args = parser.parse_args()

############## render actions #################
{% set newline = joiner('\n') -%}
{% for act in actions %}
{{- newline() -}}
{{ act.render(stype='py') }}
{% endfor %}
print(r.recvall())

